/* Personalizando elementos gerais */
/* Paleta de cores: https://coolors.co/palette/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15 */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #081c15;
  color: #d8f3dc;
  font-size: 24px;
  font-family: "VT323", monospace;

  max-width: 1500px;
  margin: 0 auto;
}

.titles {
  font-family: "Silkscreen", cursive;
  text-align: center;
  color: #52b788;
}

section {
  padding: 30px;
  border-radius: 10px;
  margin: 20px 16px;
  background-color: #1b4332;
}

/* Cabeçalho */
header {
  margin: 8px;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-menu {
  list-style-type: none;
  font-size: 32px;
}

.header-menu:hover {
  cursor: pointer;
  color: #40916c;
  transition: 0.5s;
  transform: scale(1.1);
}

/* Seção Sobre mim*/
.sobre-mim {
  display: flex;
  gap: 30px;

  text-align: justify;
}

.sobre-mim img {
  height: 320px;
  width: 320px;
}

@media (max-width: 900px) {
  .sobre-mim {
    flex-direction: column;
    align-items: center;
  }
}

/* Seção projetos */
